* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 85vh;
}

.instagram-phones {
  display: flex;

  width: 384px;
  height: 618px;
}

.instagram-phones .white-phone {
  position: relative;
  left: -655px;
  top: 50px;

  width: 270px;
  height: 500px;
}

.white-phone-images {
  border: 2px solid #000;

  position: relative;
  left: -900px;
  top: 110px;

  width: 300px;
  height: 375px;
}

.white-phone-images img {
  width: 225px;
  height: 371px;
}

.instagram-phones .black-phone {
  position: relative;
  left: -140px;
  top: 0px;

  height: 560px;
  width: 625px;
}

.black-phone-image {
  height: 480px;
  position: relative;
  left: -493px;
  top: 80px;

  width: 220px;
  height: 390px;

  border-radius: 2px;
}

.login-section {
  height: 500px;
  width: 350px;
  padding: 10px 0;

  text-align: center;

  border-radius: 1px;
}

.login-main-content,
.sign-up-link {
  background-color: white;
  border: 1px solid rgba(219, 219, 219, 1);
}

.login-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 358px;
  margin-bottom: 10px;
}

.login-main-content input {
  height: 36px;
  width: 268px;
  background-color: #fafafa;
  padding: 9px 0 7px 8px;
  font: 400 13.3333px Arial;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 6px;
}

.login-main-content button {
  background-color: rgba(0, 149, 246, 0.3);
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;

  width: 268px;
  height: 30px;
}

.title img {
  margin-top: 22px;
}

.login-inputs-wrapper {
  width: 100%;
  margin-right: auto;
  margin-top: 40px;
}

.separation-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
}

.separation-container hr {
  width: 105px;
  height: 1px;
  margin: 0 19px;
  border: 0;

  background-color: #dbdbdb;
}

.separation-container span {
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 600;
}

.login-with-facebook {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-with-facebook svg {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.login-with-facebook p {
  font-size: 14px;
  font-weight: bold;
  color: #385185;
}

.forgotten-password {
  color: #00376b;
  margin: 12px 0 0;
  font-size: 12px;
}

.sign-up-link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 63px;
  padding: 10px 0;
  margin-bottom: 10px;

  font-size: 14px;
}
.sign-up-link a {
  color: #0095f6;
  font-weight: 600;
}

.login-section > p {
  font-size: 14px;
  margin: 20px 20px 10px;
}

.app-store-buttons {
  display: flex;
  justify-content: center;
}

.app-store-buttons img {
  width: 134.28px;
  height: 40px;
  margin: 10px 5px;
}

footer {
  font-size: 12px;
  line-height: 14px;
  margin: -2px 0 -3px;
  color: #8e8e8e;
  font-weight: 400;
  text-align: center;
}

.first-links-wrapper a,
.second-links-wrapper a{
  display: inline-block;
  margin: 0 6px 12px;
  cursor: pointer;
}

.language-select select {
  border: 0;
  background-color: #fafafa;
  color: #8e8e8e;
  width: 80px;
  margin: 10px 10px;
  font-weight: 200;
  cursor: pointer;
}

.language-select select:focus {
  outline-style: none;
}

.apresentation-image {
  display: none;
}

.selected {
  display: block;
}

@media (max-width: 876px) {
  .instagram-phones {
    display: none;
  }
}
